click
cycler
django 
Flask
gunicorn
importlib-metadata
itsdangerous
Jinja2
kiwisolver
llvmlite
locket
lxml
markdown
markupsafe
matplotlib
matplotlib-inline
mccabe
mistune
mkl-fft
mkl-random
mkl-service
mkl-umath
mock
mpmath
msgpack
multipledispatch
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
notebook-shim
numba
numexpr
numpy
numpydoc
olefile
openpyxl
outcome
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
patsy
pep8
pexpect
pickleshare
Pillow
pkginfo
pluggy
plotly
pkgutil_resolve_name
prometheus-client
prompt-toolkit
protego
psutil
psycopg2-binary
ptyprocess
py
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pycrypto
pyct
pycurl
PyDispatcher
pyerfa
pyflakes
pygments
PyHamcrest
pylint
pyodbc
pyOpenSSL
pyparsing
pyrsistent
pysocks
pytest
pytest-mock
python-dateutil
python-snappy
pytz
pywavelets
pyviz-comms
PyYAML
pyzmq
qtconsole
qtpy
requests
QtAwesome
queuelib
regex
requests-file
rope
s3transfer
scikit-image
scikit-learn
scipy
Scrapy
seaborn
selenium
Send2Trash
service-identity
six
smart-open
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
sqlparse
statsmodels
sympy
tables
tabulate
TBB
tblib
tenacity
terminado
testpath
threadpoolctl
tifffile
tinycss2
tldextract
tomli
toolz
tornado
tqdm
traitlets
trio
trio-websocket
Twisted
typed-ast
typing_extensions
urllib3
w3lib
wcwidth
webencodings
websocket-client
Werkzeug
whitenoise
widgetsnbextension
wrapt
wsproto
wurlitzer
xarray
xlrd
XlsxWriter
xlwings
zict
zipp
zope.interface
