{% load static %}
<nav>
    <div class="nav-container">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo" />
        </a>

        <button class="menu-toggle" id="menu-toggle">☰</button>

        <ul class="nav-links" id="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if request.user.is_superuser %}
            <li><a href="{% url 'patient_list' %}">View Patients</a></li>
            {% endif %}            
        </ul>
        <div class="log-links" id="log-links">
            {% if user.is_authenticated %}
            <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
