<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <title>{% block title %}MediTrends{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-legend"></script>
        <script src="{% static 'js/navbar.js' %}"></script>
</head>

<body>
    {% include 'includes/header.html' %}
    {% include 'includes/navbar.html' %}

    <main>
        {% block content %}{% endblock %} {# Placeholder for page content #}
    </main>

    {% include 'includes/footer.html' %}
</body>

</html>