<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <title>{% block title %}MediTrends{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    {% include 'includes/header.html' %}
    {% include 'includes/navbar.html' %}

    <main>
        {% block content %}{% endblock %} {# Placeholder for page content #}
    </main>

    {% include 'includes/footer.html' %}

        <!-- Load Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Load JavaScript files -->
        <script src="{% static 'js/navbar.js' %}"></script>
    
</body>

</html>
